doctype html
html
  head
    title Foo
    link(href='app.css' rel='stylesheet')
  body
    h1 CNC

    h4 Messages
    #messages

    form#form
      textarea#input
      button(type='submit') Send

    h4 Ports
    #ports

    script(src='socket.io.js')
    script(src='app.js')
