html,
body {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: row;
  height: 100%;

  .app-container {
    flex: 1;
    display: flex;
    flex-direction: column;

    .page {
      display: flex;
      flex: 1;
    }
  }
}


.file-panel,
.preview-pane,
.control-panel {
  padding: 2rem;
}

.file-panel,
.control-panel {
  background: $panel-background;
  color: #999;
}

.file-panel {
  width: $file-panel-width;
}

.preview-pane {
  flex: 1;
}

.control-panel {
  width: $control-panel-width;
}
