@import 'variables'; // Includes bootstrap overrides
@import '~bootstrap/scss/bootstrap.scss';
@import '~font-awesome/scss/font-awesome.scss';

body {
  /*margin-top: 3rem;*/
}

.btn-xsm {
  border-radius: 1rem;
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
}
